/* .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #003366b8;
    padding: 20px;
    gap: 20px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.footer-links-title {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.footer-links-list {
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 20px;
} */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #003366;
    padding: 10px;
    gap: 5px;
}

.footer-logo-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.footer-logo{
    width: 35px;
    height: 35px;
}

.footer-logo-fb{
    width: 35px;
    height: 35px;
    border: 1px solid white;
}

.footer-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.footer-section-text{
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

.right-align{
    border-right: 1px solid white;
    padding-right: 10px;
}