* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://camo.githubusercontent.com/10e85ad076c94f43555fdb5121f97af55bcf65af27fd09def6797a24ea67f4a5/68747470733a2f2f632e77616c6c686572652e636f6d2f70686f746f732f31662f37352f686f74656c2d3138353231332e6a70672164');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-family: Arial, sans-serif;
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}